<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <title>Coffee Price</title>
</head>
<body>
<section class="hero is-primary is-fullheight">
    {% include "header.html" %}
  <div class="hero-body">
    <div class="container has-text-centered">
        <form action="{{ url_for('edit_price') }}" method="POST">
        <p class="is-size-3 has-text-weight-semibold">Cafe Name: {{cafe.name}}</p>
        <p class="is-size-3 has-text-weight-semibold mb-3">Current Coffee Price: {{cafe.coffee_price}}</p>
            <div class="field has-addons has-addons-centered">
                  <p class="control">
                    <span class="select">
                      <select name="select">
                        <option>£</option>
                        <option>$</option>
                        <option>€</option>
                      </select>
                    </span>
                  </p>
                <p class="control">
                    <input hidden="hidden" name="id" value="{{cafe.id}}">
                    <input class="input" name="coffee_price" type="text" placeholder="New Price">
                 </p>
        </div>
            <input type="checkbox">
            <label class="checkbox">
                 Are you sure?
            </label>
            <div class="field is-grouped is-grouped-centered mt-3">
                <button class="button is-light is-primary mr-2" type="submit">Submit</button>
      <a href="{{ url_for('cafes') }}" class="button is-danger">Cancel</a>
    </div>
            </form>

</div>
  </div>

</section>
</body>
</html>