<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <title>Cafe And Wifi Website </title>
</head>
<body>
<section class="hero is-danger is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
        <img class="mb-0" src="https://images.vexels.com/media/users/3/158671/isolated/preview/c051cb3ce81ebb07373aaef516f8f421-notebook-laptop-illustration-by-vexels.png" alt="Logo" width="312" height="48">
      <p class="title mt-0 ">
        Cafe & Wifi
      </p>
      <p class="subtitle">
        Choose the best cafe according to your need.
      </p>
         <a class="button is-danger is-inverted is-medium" href="{{url_for('cafes')}}">
                <span>Find</span>
           </a>
    </div>
  </div>
</section>
</body>
</html>