<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>HELLO</h1>
<ul>
    {% for cafe in cafes %}
        <li>
            {{cafe.name}} - {{cafe.location}} - {{cafe.map_url}}
        </li>
    {% endfor %}
</ul>

</body>
</html>


amples
Documentation
S.No.	Cafe Name	Image	Location	Map Link	Coffee Price	WiFi	Sockets	Toilet	Take Calls	Seats	Edit Coffee Price
1	Science Gallery London

London Bridge	Map Link	£2.56	❌	✔	✔	✔	50+	Edit Price
2	Social - Copeland Road

Peckham	Map Link	£2.75	✔	✔	✔	❌	20-30	Edit Price
3	One & All Cafe Peckham

Peckham	Map Link	£2.75	✔	✔	✔	❌	20-30	Edit Price
4	Old Spike

Peckham	Map Link	£2.80	✔	✔	❌	❌	0-10	Edit Price
5	Fuckoffee Bermondsey

Bermondsey	Map Link	£2.65	✔	✔	✔	❌	20-30	Edit Price
6	Mare Street Market

Hackney	Map Link	£2.80	✔	✔	✔	❌	50+	Edit Price
7	Ace Hotel Shoreditch

Shoreditch	Map Link	£3.00	✔	✔	✔	❌	50+	Edit Price
8	Goswell Road Coffee

Clerkenwell	Map Link	£2.10	✔	✔	✔	❌	10-20	Edit Price
9	The Southwark Cathedral Cafe

London Bridge	Map Link	£2.30	✔	✔	✔	✔	20-30	Edit Price
10	Trade Commercial Road

Whitechapel	Map Link	£2.70	✔	❌	✔	❌	20-30	Edit Price
12	Forage Cafe

Clerkenwell	Map Link	£2.50	✔	✔	✔	✔	20-30	Edit Price
13	Citizen M Hotel Shoreditch

Shoreditch	Map Link	£2.80	✔	✔	✔	❌	30-40	Edit Price
14	Barbican Centre

Barbican	Map Link	£3.00	✔	❌	✔	✔	50+	Edit Price
15	The Slaughtered Lamb

Clerkenwell	Map Link	£2.60	✔	❌	✔	❌	20-30	Edit Price
16	Fernandez and Wells Exhibition Road

South Kensington	Map Link	£1.80	✔	❌	❌	❌	10-20	Edit Price
17	Whitechapel Grind

Whitechapel	Map Link	£2.60	✔	✔	❌	✔	30-40	Edit Price
18	The Peckham Pelican

Peckham	Map Link	£2.60	✔	✔	❌	✔	0 - 10	Edit Price
19	Natural History Museum Library

South Kensington	Map Link	£2.00	✔	✔	❌	❌	40-50	Edit Price
20	The Bike Shed

Shoreditch	Map Link	£2.80	✔	✔	❌	❌	10-20	Edit Price
21	FORA Borough

Borough	Map Link	£2.40	✔	✔	❌	✔	20-30	Edit Price
22	Peter Avenue

Central Avenue	Map Link	£2.78	✔	✔	✔	✔	56-76	Edit Price